# AWS Secrets keys
export AWS_REGION=ap-northeast-2
export AWS_DEFAULT_REGION=ap-northeast-2
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export J_ENV=alpha
export J_CICD=false

export GOOGLE_OAUTH_CLIENT_ID=
export GOOGLE_OAUTH_CLIENT_SECRET=

export ADMIN_AWS_ACM_ARN=